<div class="">
    <h1>Cabin App</h1>
</div>
<header class="">
    <nav class="">
        <ul class="">
            <li class=""><a class="<%= path === '/' ? 'active' : '' %>" href="/">Dashboard</a></li>
            <li class=""><a class="<%= path === '/reservation' ? 'active' : '' %>" href="/">Calendar</a></li>
            <li class=""><a class="<%= path === '/inventory' ? 'active' : '' %>" href="/">Inventory</a></li>
            <li class=""><a class="<%= path === '/maintenance' ? 'active' : '' %>" href="/">Maintenance</a></li>
            <li class=""><a class="<%= path === '/account' ? 'active' : '' %>" href="/">Account</a></li>
            <li class=""><a class="<%= path === '/admin' ? 'active' : '' %>" href="/">Admin</a></li>
            <li class=""><a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/Login">Login</a></li>
            <li class=""><a class="<%= path === '/register' ? 'active' : '' %>" href="/auth/signup">Register</a></li>
        </ul>   
    </nav>
</header>