<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <main>
        <%- include('../includes/nav.ejs') %>
        
            <% if (tasks.length > 0) { %>
                <h2>Cabin Checklist</h2>
                <div>
                    <% for (let task of tasks) { %>
                        <input type="checkbox" id="task">
                        <label for="task"><%= task.title %></label>
                        <p id="task_desc"><%= task.description %></p>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>No Tasks Found!</h1>
                    <% } %>
    </main>
<%- include('../includes/end.ejs') %>